
/*
site wide html styles
*/
body { margin: 0; padding: 0; background: #FFF url(../images/menu.gif) repeat-x left top; font-family: Arial, Helvetica, sans-serif;	font-size: 12px; color: #515151; }
h1, h2, h3 {	margin: 0;	font-weight: normal; color: #485459; }
textarea { font-family: Arial, Helvetica, sans-serif; height:100px; width:300px;}
h1 { font-size: 44px; padding-bottom:10px;}
h2 { padding-bottom:5px; font-size: 18px; }
h3 { padding-top:10px;padding-bottom:5px;}
p, ul, ol { margin-top: 0; line-height: 240%;	text-align: justify; }
ul, ol { }
blockquote { }
a { color: #4D9408; text-decoration: none;}
a:hover { text-decoration: underline; }
a img { border: none; }
img.left { float: left; margin: 7px 30px 0 0; }
img.right { float: right; margin: 7px 0 0 30px; }
hr { display: none; }
.small { width: 50px; }
.tiny { width: 25px; }
input[type=text],
input[type=password],
textarea,
select { background: #fff; background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(4%, #f0f0f0), to(#fff)); border: 1px solid #ccc; border-bottom-color: #999; border-right-color: #999; margin: 0; padding: 4px; color: #444; font-size: 100%; outline: none; }



/*
page structure
*/
#header { width: 940px; 	margin: 0 auto; }

#menu { height:30px; float: left; width: 100%; background-color:#e5e5e5; }
.menupic {padding-left:15px;}

#menulink { float: left; }
#menulink ul { list-style-type: none; padding: 0; margin: 0; }
#menulink li { float: left; position: relative; z-index: 100; }
#menulink a, #menulink :visited {	display: block; font-size: 0.9em; width: 80px; padding: 0px 0px 0px 5px; color: #000; background-color: #e5e5e5; text-decoration: none; text-align: left; vertical-align: middle; }
#menulink :hover, #menulink a.selected {color:#fff; background-color: #777; }
#menulink ul ul { visibility: hidden; position: absolute; width: 60px; height: 0; }
#menulink ul li:hover ul, #menulink ul a:hover ul { visibility: visible; }
#menusearchlink { padding-top:3px; float:right; }
#menusearchlink input, #menusearchlink select { font-size: 0.9em; color:#555; }
#menucontainer { width:940px; height:10px; }

#page { width: 940px; margin: 0 auto; padding: 50px 0px 0px 0px;}

#logo { width: 940px; height: 67px; margin: 0 auto; padding-left:5px; margin-top:4px; background:url("../images/banner.jpg") no-repeat bottom left; }

#logo h1, #logo p { display:none; margin: 0px; line-height: normal; text-transform: lowercase; font-weight: normal; color: #485459;}

#logo p { margin-top: 2px; text-transform: lowercase; font-size: 13px; color: #A8A8A8;}
#logo h1 { padding-top: 10px; font-size: 48px;}
#logo a { text-decoration: none; color: #A8A8A8; }
#logo img { margin-top:15px; }
#logo h1 a { text-decoration: none; color: #485459;}

#banner { padding-bottom: 20px; }

#statusbar { float:right; padding-right:10px; padding-top:2px;}
#statusbar a { text-decoration: none; color: #515151;}

select#headcat option { padding-left: 10px; }
select#headcat option.grouping { padding-left: 5px; font-weight: bold; }

#content { float: right; width: 585px;}
#content h1 { font-size: 28px;}
#content p { margin-bottom:20px;}

#adpanel { margin-left:15px;width:165px;float:right; }

#sidebar { float: left; width: 160px; font-size: 12px;}
#sidebar ul {margin: 0; padding: 0; line-height: normal; list-style-type: none; text-align: left; }
#sidebar li { margin-bottom: 30px; padding: 0 0 0 0;}
#sidebar li ul { list-style-type: none;  list-style-position:inside; margin: 0px 10px; padding: 0; margin-left: 1em;}
#sidebar li li { background-image: url('../images/bullet.jpg'); background-repeat: no-repeat; background-position: 0.7em 1.1em; margin: 0;	padding-left: .5em; padding-top: .8em;padding-bottom:10px; border-bottom: 1px solid #E9E8DD;}
#sidebar li li a {padding: 0 0 0 20px; font-weight: normal; color: #808080;}
#sidebar li li a:hover {color: #4D9408;}
#sidebar li li:hover { cursor:pointer; background-color:#EEE; background-image: url('../images/bullet_hov.jpg');}

#sidebar p { margin: 0; padding: 0px 14px;}
#sidebar h2 { height: 30px; margin: 0 0 5px 0px; padding: 6px 0 2px 14px; font-size: 18px; font-weight: normal; color: #485459;}
#sidebar p { line-height: 200%;}
#sidebar a { text-align: left; text-decoration: none; font-weight: bold;}

.footer { width: 100%; height: 102px; margin: 0 auto; background: #E1E1E1; border-top: 5px solid #656565;}
.footer p { margin: 0; padding: 20px 0px 0px 0px; text-align: center; line-height: normal; font-size: 10px; }
.footer a {}

/*
misc site style such as data tables, 
*/
table.data { border-collapse:collapse; }
table.data th { text-align:left; vertical-align:top; background-color:#DDD; border-color: #AAA; border-width: 1px; border-style: solid; padding:3px; font-style:bolder; text-transform:capitalize;}
table.data td { white-space:normal; vertical-align:top; padding:5px; border-color: #AAA; border-width: 1px; border-style: solid; }
table.data td.less { color: #888; font-size: 0.8em; white-space:nowrap; }
table.data td.icons { white-space:nowrap; padding-left:0px; padding-right:0px; width:60px; }
table.data td.check {cursor:pointer;}
table.highlight tr:hover td { background-color: #E1F0D9; }
table tr.alt { background-color: #EEE; }
table tr.new { background-color: #f6f8ff; }
table.data em {font-weight:bolder; color:red;}
div.hint, div.hint a {font-size:0.9em; font-style:italic; color:#999;}
div.hint { margin-bottom:10px;}
input.long {width:400px; }
input.short { width:40px; }
input.date { width:70px; }

pre#nfo { font-family: "Courier New", "DejaVu Sans Mono", monospace; font-size: 12px; line-height: 13px; }

#movieinfo { background-position: center center; background-repeat: no-repeat; position: absolute; z-index: 2;}
#movieinfo h1 { font-size: 32px; padding: 10px 10px 0px 20px; color: #fff; text-shadow: 0px 0px 4px #000; }
#movieinfo h2, #movieinfo h3 { padding: 10px 20px 0px 20px; color: #fff; text-shadow: 0px 0px 4px #000; }
#movieinfo a { color: #fff; }
#movieinfo img.cover { margin-right: 20px; -webkit-box-shadow: 0px 0px 4px #000; -moz-box-shadow: 0px 0px 4px #000; }
#backdrop { position: absolute; width: 810px; height: 455px; left: -1px; top: 5px; background-color: #000; overflow: hidden;}
#backdrop img { opacity:0.5; width: 100%; height: 100%;}

div.resextra { padding-top:2px; color: #888; font-size: 0.8em; height:16px; }
div.resextra a { color: #888; text-decoration:none; }

div.movextra { padding-top:2px; color: #888; font-size: 0.8em; }

div.error { padding:20px; padding-left:50px; border:1px solid #BBB; background: #FED0D0 url(../images/icons/warning.png) no-repeat top; background-position: 5px 50%; font-size:1.2em; font-weight:bold; margin-bottom:10px;}

div.comments { padding-top:20px; }

input.nzb_check_all { margin-left:5px; }
div.nzb_multi_operations { color:#888; display:inline; float:right; }
div.nzb_multi_operations input { color:#888; background-color:#fff; border:1px solid #ddd; }
div.nzb_multi_operations input.nzb_multi_operations_sab { display:none; }
div.nzb_multi_operations input:hover { color:#000; border:1px solid #000; cursor:pointer; }

div.pager {display:inline;}
div.pager a {font-weight:bold; background-color:#DDD; padding:0 3px 0px 4px; border:1px #CCC solid;}
div.pager .current {color:#fff; font-weight:bold; background-color:#777; padding:0 4px 0px 4px; border:1px #CCC solid;}

.left { text-align:left;}
.right { text-align:right;}
.mid { text-align:center;}

.invitesuccess {display:none;font-weight:bold;padding-left:10px;color:green;}
.invitefailed {display:none;font-weight:bold;padding-left:10px;color:red;}


/* icons */
div.icon { width:16px; height:16px; background-repeat:no-repeat; cursor:pointer; position:relative; float:left; margin:2px; }
table.data td.icons div.icon { opacity:.20; }
div.icon_cart			{ background-image:url('../images/icons/cartup.png'); }
div.icon_cart_clicked	{ background-image:url('../images/icons/cartdown.png'); }
div.icon_nzb			{ background-image:url('../images/icons/nzbup.png'); }
div.icon_nzb_clicked	{ background-image:url('../images/icons/nzbdown.png'); }
div.icon_nzb a			{ text-decoration:none; padding-bottom:2px; padding-right:12px; }
div.icon_sab			{ background-image:url('../images/icons/sabup.png'); display:none; }
div.icon_sab_clicked	{ background-image:url('../images/icons/sabdown.png'); }
div.icon_tvrage			{ background-image:url('../images/icons/tvrage.png'); }
div.icon_check			{ background-image:url('../images/icons/check.png'); }


div.nosearchresults {margin-left:25px; padding-top:50px;}
div.nosearchresults ul { line-height: 150%;}





/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#fff;}

#colorbox{}
    #cboxTopLeft{width:25px; height:25px; background:url(../images/colorbox/border1.png) 0 0 no-repeat;}
    #cboxTopCenter{height:25px; background:url(../images/colorbox/border1.png) 0 -50px repeat-x;}
    #cboxTopRight{width:25px; height:25px; background:url(../images/colorbox/border1.png) -25px 0 no-repeat;}
    #cboxBottomLeft{width:25px; height:25px; background:url(../images/colorbox/border1.png) 0 -25px no-repeat;}
    #cboxBottomCenter{height:25px; background:url(../images/colorbox/border1.png) 0 -75px repeat-x;}
    #cboxBottomRight{width:25px; height:25px; background:url(../images/colorbox/border1.png) -25px -25px no-repeat;}
    #cboxMiddleLeft{width:25px; background:url(../images/colorbox/border2.png) 0 0 repeat-y;}
    #cboxMiddleRight{width:25px; background:url(../images/colorbox/border2.png) -25px 0 repeat-y;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{background:#fff; margin-top:32px; padding:1px; }
        /*#cboxLoadingGraphic{background:url(../images/loading.gif) center center no-repeat;}*/
        #cboxLoadingOverlay{background:#fff;}
        #cboxTitle{position:absolute; font-size:125%; top:-2px; left:0; color:#000; }
        #cboxCurrent{position:absolute; top:-1px; right:205px; text-indent:-9999px;}
        #cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-1px; background:url(../images/colorbox/controls.png) 0 0 no-repeat;}
        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious.hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext.hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0;}
        #cboxClose.hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow.hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow.hover{background-position:-75px -25px;}


/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/colorbox/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/colorbox/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/colorbox/internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/colorbox/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/colorbox/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/colorbox/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/colorbox/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/colorbox/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}


/*
	Use colorbox example 2 css for movieinfo popups
*/
.cboxMovie{}
    .cboxMovie #cboxContent{margin-top:32px; background: transparent;}
    .cboxMovie #cboxTopLeft{display:none;}
    .cboxMovie #cboxTopCenter{display:none;}
    .cboxMovie #cboxTopRight{display:none;}
    .cboxMovie #cboxBottomLeft{display:none;}
    .cboxMovie #cboxBottomCenter{display:none;}
    .cboxMovie #cboxBottomRight{display:none;}
    .cboxMovie #cboxMiddleLeft{display:none;}
    .cboxMovie #cboxMiddleRight{display:none;}
        .cboxMovie #cboxLoadedContent{margin-top: 5px; background:#888; padding:1px;}
        .cboxMovie #cboxLoadingGraphic{background:url(../images/loading.gif) center center no-repeat;}
        .cboxMovie #cboxLoadingOverlay{background:#000;}
        .cboxMovie #cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
        .cboxMovie #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
        .cboxMovie #cboxSlideshow, .cboxMovie #cboxPrevious, .cboxMovie #cboxNext, .cboxMovie #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(../images/colorbox/controls2.png) 0 0 no-repeat;}
        .cboxMovie #cboxPrevious{background-position:0px 0px; right:44px;}
        .cboxMovie #cboxPrevious.hover{background-position:0px -25px;}
        .cboxMovie #cboxNext{background-position:-25px 0px; right:22px;}
        .cboxMovie #cboxNext.hover{background-position:-25px -25px;}
        .cboxMovie #cboxClose{background-position:-50px 0px; right:0;}
        .cboxMovie #cboxClose.hover{background-position:-50px -25px;}
        .cboxMovie .cboxSlideshow_on #cboxPrevious, .cboxMovie .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxMovie .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxMovie .cboxSlideshow_on #cboxSlideshow.hover{background-position:-100px -25px;}
        .cboxMovie .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxMovie .cboxSlideshow_off #cboxSlideshow.hover{background-position:-75px -25px;}
